# The ARN of the IAM execution role
LAMBDA_ROLE_ARN="ARN:aws:iam::1234567890:role/lambda-execution-role-name"

# The ARN of the lambda layer providing boto3
BOTO3_LAMBDA_LAYER="ARN:aws:lambda:region:1234567890:layer:boto3-python313:version"

# The ARN of the lambda layer providing psycopg2
PSYCOPG2_LAMBDA_LAYER="ARN:aws:lambda:region:1234567890:layer:psycopg2-python313:version"
